<div class="row">
  <div class="col-md-12">
    <div class="panel panel-primary">
      <div class="panel-heading">
        <b>View Penjualan</b>
      </div>
      <div class="panel-body">
        <div class="row">
          <div class="col-md-6">
            <div class="form-group">
              <label class="col-sm-3 control-label">Nama</label>
              <label class="col-sm-9 control-label">: <%= @barang.nama %></label>
            </div>
            <div class="form-group">
              <label class="col-sm-3 control-label">Kategori</label>
              <label class="col-sm-9 control-label">: <%= @barang.kategori.nama %></label>
            </div>
            <div class="form-group">
              <label class="col-sm-3 control-label">Status</label>
              <label class="col-sm-9 control-label">:
                <% if @barang.status == true %>Aktif
                <% else %>Tidak Aktif
                <% end %>
              </label>
            </div>
          </div>
          <div class="col-md-6">
            <table class="table table-bordered table-condensed table-hover table-striped">
              <thead>
              <tr>
                <th>R Class</th>
                <th>Satuan</th>
              </tr>
              </thead>
              <tbody>
              <% @barang.h_barangs.each do |h_barang| %>
                  <tr>
                    <td><%= h_barang.r_class_id %></td>
                    <td><%= h_barang.satuan %></td>
                  </tr>
              <% end %>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
</div>
</div>
